@model Biblioteca319.Models.Catalogo.ActivoDetalleModel


@{
    ViewData["Title"] = "Detalles";
}


<div class="container">
    <div class="pagina-header clearfix detalleHeading ">
        <h2 class="text-muted">Ver artículo de librería</h2>
    </div>
</div>


<div class="jumbotron container">
    
<div class="row">
    <div class="col-md-4">
        <div>
            <img class="detalleImagen" src="@Model.ImagenUrl" />
        </div>
    </div>
    <div class="col-md-4">
        <p id="articuloTitulo">@Model.Titulo</p>
        <p id="articuloAutor">@Model.AutorODirector</p>
        <p id="articuloEstatus">@Model.Estatus</p>
        <p id="articuloTipo">@Model.Tipo</p>
        <p id="articuloUbicacion">@Model.UbicacionActual</p>


        @if (Model.Estatus == "Perdido")
        {
            <p>Este artículo está perdido. No puede ser comprado</p>
            <p><a class="btn btn-lg btn-danger" role="button" asp-controller="Catalogo"
                  asp-action="MarcarEncontrado" asp-route-id="@Model.Id">Marcar como encontrado</a></p>
        }

        @if (Model.Estatus == "Pago")
        {
            <p id="articuloCliente">Pagado por: @Model.NombreCliente</p>
            <p>
                <a class="btn btn-lg btn-success" role="button" asp-controller="Catalogo"
                   asp-action="Facturar" asp-route-id="@Model.Id">Facturar</a>
            </p>
            <p>
                <a class="btn btn-lg btn-info" role="button" asp-controller="Catalogo"
                   asp-action="Congelar" asp-route-id="@Model.Id">Congelar</a>
            </p>

        }


        @if (Model.Estatus == "Disponible")
        {
            <p>
                <a class="btn btn-lg btn-info" role="button" asp-controller="Catalogo"
                   asp-action="Pagar" asp-route-id="@Model.Id">Pagar</a>
            </p>
        }
    </div>
        <div class="col-md-4 detallaInfo">
            <table>
                <tr>
                    <td class="articuloLbl">ISBN: </td>
                    <td class="articuloValor">@Model.ISBN</td>
                </tr>
                <tr>
                    <td class="articuloLbl">Índice Dewey: </td>
                    <td class="articuloValor">@Model.IndiceDewey</td>
                </tr>
                <tr>
                    <td class="articuloLbl">Costo: </td>
                    <td class="articuloValor">@Model.Costo</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h4>Historial de pagos</h4>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Fecha de préstamo</th>
                <th>Fecha de retorno</th>
                <th>Id tarjeta</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var pago in @Model.PagosHistorial)
            {
                <tr>
                    <td>
                        @pago.Pago
                    </td>
                    <td>
                        @pago.Facturado
                    </td>
                    <td>
                        @pago.Tarjeta.Id
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="col-lg-6">
        <h4>Congelamientos actuales</h4>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>
                    Fecha de congelamiento
                </th>
                <th>
                    Cliente
                </th>
            </tr>
            </thead>
            <tbody>
                @foreach(var congelamiento in @Model.RetencionesActuales)
                {
                    <tr>
                        <td>
                            @congelamiento.RetencionPuesta
                        </td>
                        <td>
                            @congelamiento.NombreCliente
                        </td>
                    </tr>        
                }
            </tbody>
        </table>
    </div>
    
</div>